.header {
  height: 60px;
  background-color: #eb3f43;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  margin-left: 15px;
  align-items: center;
}
.barICon {
  cursor: pointer;
}
.bar {
  display: inline;
  width: 3px;
  height: 50px;
  background-color: #fff;
  margin: 0 10px;
}
a {
  text-decoration: none;
}
.white {
  color: #fff;
}
h4 {
  margin-top: 28px;
}
h3 {
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}
.right img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.bellIcon {
  margin-right: 20px;
  margin-left: 15px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .white h2 {
    font-size: 14px;
  }
  h4 {
    font-size: 10px !important;
    margin: 0;
  }
  .right img {
    width: 25px;
    height: 25px;
  }
}
